<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<h3>REGISTER NEW USER</h3>

<form th:method="POST" th:action="@{/auth/registration}" th:object="${person}">
    <div class="form-group">
        <input type="text" th:field="*{username}" class="form-control"
               id="name" placeholder="Username">
        <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
    </div>

    <div class="form-group">
        <input type="text" th:field="*{password}" class="form-control"
               id="password" placeholder="Password">
        <ul class="text-danger" th:each="error: ${#fields.errors('password')}">
            <li th:each="message : ${error.split(',')}">
                <p style="color:red" th:text="${message}"></p>
            </li>
        </ul>
    </div>


    <br/>

    <input type="submit" value="Sign up!"/>
</form>

</body>
</html>