<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tiles index</title>
    <link th:href="@{/css/tile.css}" rel="stylesheet"/>
    <link th:href="@{/css/icons}" rel="icon"/>
</head>
<body>

<div th:each="entry : ${collection2tiles}" class="collection">
    <div class="collection-expand-button">
        <div class="collection-details">
            <details>
                <summary title="Expand collection" th:text="${entry.key.getTitle()}" style="font-size: 170%">VALUE</summary>
                <div class="tile-container">
                    <div th:each="tile : ${entry.value}">
                        <div class="tile"
                             th:data-url="${tile.getUrl()}"
                             onclick="window.open(this.getAttribute('data-url'),'_blank')">
                            <span class="tile-title" th:text="${tile.getTitle()}">VALUE</span>
                            <p class="tile-description" th:text="${tile.getDescription()}">VALUE</p>

                            <div class="button-group">
                                <a class="icon-centered-position">
                                    <img src="/icons/three-dots-vertical.svg" style="height: 100%; width: 100%;">
                                </a>
                                <div class="tile-options">
                                    <form action="#"
                                          th:method="DELETE"
                                          th:action="@{http://localhost:8080/tiles/{id}(id=${tile.getId()})}">
                                        <button class="options-delete-button"
                                                type="submit"
                                                title="Delete">
                                            <img src="/icons/trash.svg">
                                        </button>
                                    </form>
                                    <button class="options-edit-button"
                                            th:data-url="@{http://localhost:8080/tiles/{id}/edit(id=${tile.getId()})}"
                                            th:attr="onclick=|window.open(this.getAttribute('data-url'), '_self')|"
                                            title="Edit">
                                        <img src="/icons/pen.svg">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tile-create-new"
                         th:data-url="@{http://localhost:8080/tiles/new/{collectionId}(collectionId=${entry.key.getId()})}"
                         th:attr="onclick=|window.open(this.getAttribute('data-url'), '_self')|"
                         title="Create NEW tile">
                        <a class="icon-centered-position">
                            <img src="/icons/plus-square-dotted.svg" style="height: 25%; width: 25%;">
                        </a>
                    </div>
                </div>
            </details>
        </div>

    </div>

    <div class="options-wrapper" title="More options">
        <a class="icon-add-tile">
            <img src="/icons/three-dots-vertical.svg" style="height: 100%; width: 100%;">
        </a>
        <div class="options">
            <div>
                <form action="#"
                      th:method="DELETE"
                      th:action="@{http://localhost:8080/collections/{id}(id=${entry.key.getId()})}" >
                    <button class="delete-button"
                            type="submit"
                            title="Delete collection">
                        <img src="/icons/trash.svg">
                    </button>
                </form>
                <button class="edit-button"
                        th:data-url="@{http://localhost:8080/collections/{id}/edit(id=${entry.key.getId()})}"
                        th:attr="onclick=|window.open(this.getAttribute('data-url'), '_self')|"
                        title="Edit collection">
                    <img src="/icons/pen.svg">
                </button>
            </div>
        </div>
    </div>
</div>

<button class="new-collection"
     th:data-url="@{http://localhost:8080/collections/new}"
     th:attr="onclick=|window.open(this.getAttribute('data-url'), '_self')|"
    title="Add new collection">
<!--    <a class="icon-centered-position">-->
        <img src="/icons/plus-square-dotted.svg" style="height: 75%; width: 75%;">
<!--    </a>-->
</button>

</body>
</html>
