<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tiles index</title>
    <link th:href="@{/css/tile.css}" rel="stylesheet"/>
</head>
<body>

<div class="collection">
    <div class="collection-expand-button">
        <div class="collection-details">
            <details th:each="entry : ${collection2tiles}">
                <summary title="Expand collection" th:text="${entry.key}" style="font-size: 170%">VALUE</summary>
                <div class="tile-container">
                    <div th:each="tile : ${entry.value}">
                        <div class="tile"
                             th:data-url="${tile.getUrl()}"
                             onclick="window.open(this.getAttribute('data-url'),'_blank')">
                            <span class="tile-title" th:text="${tile.getTitle()}">VALUE</span>
                            <p class="tile-description" th:text="${tile.getDescription()}">VALUE</p>

                            <div class="button-group">
                                <form action="#"
                                      th:method="DELETE"
                                      th:action="@{http://localhost:8080/tiles/{id}(id=${tile.getId()})}">
                                    <button class="delete-button"
                                            type="submit"
                                            title="Delete">
                                        <img src="icons/trash.svg">
                                    </button>
                                </form>
                                <button class="edit-button"
                                        th:data-url="@{http://localhost:8080/tiles/{id}/edit(id=${tile.getId()})}"
                                        th:attr="onclick=|window.open(this.getAttribute('data-url'), '_self')|"
                                        title="Edit">
                                    <img src="icons/pen.svg">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

<!--                <div class="tile-container">-->
<!--                    <div class="tile-create-new"-->
<!--                         th:attr="onclick=|window.open('http://localhost:8080/tiles/new', '_self')|"-->
<!--                         title="CREATE TILE">-->
<!--                        <img src="icons/plus-square-dotted.svg">-->
<!--                    </div>-->
<!--                </div>-->
            </details>
        </div>

    </div>

    <div class="options-wrapper">
        <div class="options">
            <img src="icons/three-dots-vertical.svg" style="width: 100%; height: 100%;">


        </div>

        <div class="afsadfas">
            <img src="icons/pen.svg">
            <!--            <button class="edit-button"-->
            <!--                    th:attr="onclick=|window.open('https://google.com', '_self')|"-->
            <!--                    title="Edit">-->
            <!--                <img src="icons/pen.svg">-->
            <!--            </button>-->
        </div>
    </div>
</div>

</body>
</html>
