<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Collection</title>
</head>
<body>

<form th:method="POST" th:action="@{/collections}" th:object="${collection}">
    <h1>CREATING NEW COLLECTION</h1>
    <label for="title">Enter tile:</label>
    <input type="text" th:field="*{title}" id="title" />
        <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">VALUE</div>
    <br/>

    <input type="submit" value="CREATE"/>
</form>

</body>
</html>