.admin-options {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    background-color: cadetblue;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.user-info-box {
    display: grid;
    grid-template-rows: 1fr;
    margin-bottom: 10px;
    gap: 1em;
    /*height: 50px;*/
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    font-family: sans-serif;
    background-color: darkolivegreen;
    padding: 10px;
}

.user-info-wrap {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1em;
}

.user-info {
    background-color: khaki;
    border-radius: 30px;
    text-align: center;
}

.set-button {
    background-color: darkseagreen;
    border-radius: 30px;
    text-align: center;
    width: 100%;
    border: 0;
}

.unset-button {
    background-color: rosybrown;
    border-radius: 30px;
    text-align: center;
    width: 100%;
    border: 0;
}

.delete-button {
    background-color: indianred;
    border-radius: 30px;
    text-align: center;
    width: 100%;
    border: 0;
}

input {
    background-color: transparent;
    border: 0;
    width: 100%;
    font-family: sans-serif;
}
