h2 {
    font-family: sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}

strong {
    font-weight: 700;
    background-color: yellow;
}

p {
    font-family: sans-serif;
}

.tile-container {
    display: flex;
    flex-wrap: wrap;
}

.tile-container .tile {
    position: relative;
    background-color: #0094FF;
    box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

    max-width: 20%;
    word-wrap:break-word;
    padding: .65rem;
    border-radius: 2%;

    /*border: 10px solid yellow;*/
    /*outline: 10px solid #1D1F22;*/

    width: fit-content;
}

button.delete-button {
    background-color: deepskyblue;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
}

button.edit-button {
    background-color: deepskyblue;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
}


.delete-button:hover {
    background-color: red;
}

.edit-button:hover {
    background-color: darkorange;
}

div.button-group {
    background-color: #04AA6D; /* Green background */
    /*border: 1px solid green; !* Green border *!*/
    /*color: white; !* White text *!*/
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    /*width: 50%; !* Set a width if needed *!*/

    display: none; /* Make the buttons appear below each other */
}

div.tile-container:hover > div.button-group{
    display: block;

}
