.new-collection {
    height: 50px;
    width: 200px;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 1%;
    border: 0;
    box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.collection {
    margin: 1%;
    display: flex;
    justify-content: space-between;
}

.collection-expand-button {
    max-width: 94%;
    cursor: pointer;
    border-radius: 30px;
}

.collection-details {
    background-color: lightcoral;
    border-radius: 30px;
    display: block;
    padding-inline: 13px;
    box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.collection-details:hover {
    background-color: indianred;
}

.tile-title {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.tile-description {
    font-family: sans-serif;
}

.tile-container {
    margin-bottom: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
}

.tile {
    position: relative;
    background-color: lightskyblue;
    box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);

    word-wrap: break-word;
    padding: .65rem;
    border-radius: 4%;
    height: 200px;
}

.tile:hover .button-group {
    display: block;
    cursor: pointer;
}

.tile:hover {
    background-color: deepskyblue;
}

.tile-create-new {
    display: table;

    background-color: darkgray;
    box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    border: 2px dashed skyblue;

    word-wrap: break-word;
    padding: .65rem;
    border-radius: 4%;
    min-height: 140px;
    max-height: 300px;
}

.icon-centered-position {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.tile-create-new:hover {
    background-color: slategray;
}

.delete-button {
    alignment: top;
    background-color: gray;
    margin: 0;
    padding: 0;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 10px;
}

.edit-button {
    alignment: bottom;
    background-color: gray;
    margin: 0;
    padding: 0;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 10px;
}


.delete-button:hover {
    background-color: red;
}

.edit-button:hover {
    background-color: darkorange;
}

.button-group {
    position: absolute;
    top: 2%;
    right: 2%;

    margin: 0;
    padding: 0;
    cursor: pointer;
    display: none;

    border-radius: 25%;
}

details > summary {
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

summary::after {
    content: ' \1F845';
}

details[open] summary:after {
    content: " \1F847";
}

details > .tile-collection {
    margin-left: 24px;
}

.options-wrapper {
    position: relative;

    display: table;
    padding: 0;
    margin: 0;
    width: 2%;
    height: 4%;
    background-color: tan;
    border-radius: 25%;
}

.options {
    position: absolute;
    bottom: -230%;
    right: 0;

    margin: 0;
    padding: 0;

    display: none;
}

.options-wrapper:hover .options {
    display: block;
    cursor: pointer;
}

div.options-wrapper:hover {
    background-color: darksalmon;
}

.options-delete-button {
    alignment: top;
    background-color: gray;
    margin: 0;
    padding: 0;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 25%;
}

.options-edit-button {
    alignment: top;
    background-color: gray;
    margin: 0;
    padding: 0;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 25%;
}

.options-delete-button:hover {
    background-color: red;
}

.options-edit-button:hover {
    background-color: darkorange;
}

.collection-options {
    position: absolute;
    bottom: -230%;
    right: 0;

    margin: 0;
    padding: 0;

    display: none;
}

.tile-options {
    position: absolute;
    bottom: -200%;
    right: -50%;

    margin: 0;
    padding: 0;

    display: none;
}

.button-group:hover .tile-options {
    display: block;
}


