span {
    font-family: sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}

strong {
    font-weight: 700;
    background-color: yellow;
}

p {
    font-family: sans-serif;
}

.tile-container {
    display: flex;
    flex-wrap: wrap;
}

.tile-container .tile {
    position: relative;
    background-color: #0094FF;
    box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

    width: 20%;
    word-wrap:break-word;
    padding: .65rem;
    border-radius: 4%;
}

.delete-button {
    alignment: top;
    background-color: gray;
    margin: 0;
    padding: 0;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 16px;
    display: block;
}

.edit-button {
    alignment: bottom;
    background-color: gray;
    margin: 0;
    padding: 0;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 16px;
    display: block;
}


.delete-button:hover {
    background-color: red;
}

.edit-button:hover {
    background-color: darkorange;
}

div.button-group {
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: none;
}

div.tile-container:hover > div.button-group{
    display: block;
}
