<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tile</title>
    <link th:href="@{/css/tile.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="tile-container">
    <div class="tile" onclick="window.open('https://www.postman.com/','_blank')">

        <span th:text="${tile.getTitle()}">VALUE</span>
        <p th:text="${tile.getDescription()}">VALUE</p>

    </div>
    <div class="button-group">
        <button class="delete-button"
                th:method="DELETE"
                th:data-url="@{http://localhost:8080/tiles/{id}(id=${tile.getId()})}"
                th:onclick="window.open(this.getAttribute('data-url'), '_self')"
                title="Delete">
            <i class="fa fa-close"></i>
        </button>
        <button class="edit-button"
                th:data-url="@{http://localhost:8080/tiles/{id}/edit(id=${tile.getId()})}"
                th:attr="onclick=|window.open(this.getAttribute('data-url'), '_self')|"
                title="Edit">
            <i class="fa fa-edit"></i>
        </button>
    </div>
</div>
</body>
</html>
