<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tile</title>
    <link th:href="@{/css/tile.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="tile-container">
    <div class="tile" onclick="window.open('https://www.postman.com/','_blank')">

        <h2 th:text="${tile.getTitle()}">VALUE</h2>
        <p th:text="${tile.getDescription()}">VALUE</p>


    </div>
    <div class="button-group">
        <button class="delete-button"
                onclick="window.open('https://mvnrepository.com','_blank')">
            <i class="fa fa-close"></i>
        </button>
        <button class="edit-button"
                onclick="window.open('https://docs.spring.io','_blank')">
            <i class="fa fa-edit"></i>
        </button>
    </div>
</div>
</body>
</html>
